<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<header>
		<a class = "menuItem" href = "/">Main Page</a>
		<a class = "menuItem" href = "/load">Execute</a>
		<a class = "menuItem" href = "/profile">MyPage</a>
		<a class = "menuItem" href = "/login">Enter</a>
	</header>
	<div id ="content">
		<p class="fontStyle">History of your execution</p>

		<% if(user) { %>

		<table>
		<tr>
        	<th>Task_id</th>
   			<th>Number </th> 
   			<th>Server </th>
   			<th>Time   </th> 
   			<th>Result </th>
  		</tr>
		<% for(var i = 0; i < data_.tasks_id.length; ++i) { %>
			<tr>
				<th> <%- data_.tasks_id[i]   -%> </th>
				<th> <%- data_.datas[i]      -%> </th> 
				<th> <%- data_.servers_id[i] -%> </th>
				<th> <%- data_.times[i]      -%> </th>
				<th> <%- data_.results[i]    -%> </th>
			</tr>
		<% } %>
		</table>

		<% } else { %>
   	    	<p style="font-size:50px">At first you must log in</p>
   		<% } %> 
	</div>

</body>
</html>